.container
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    z-index: 1000
    max-width: 600px
    display: flex
    flex-direction: column
    align-items: center
    min-height: 100vh
    overflow-y: auto
    overscroll-behavior: contain

.main
    width: 100%
    position: relative
    height: 100%

.img2
    width: 100%
    max-width: 500px
    display: block
    margin: 15% auto
    position: relative
    z-index: 1

.subMain
    position: absolute
    top: 43%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: white
    display: flex
    justify-content: center
    align-items: center
    gap: 2vw
    max-width: 86%
    margin: 0 0 clamp(1rem, 2vh, 2rem) 0
    padding: 1rem 
    z-index: 1
    height: 230px
    border-radius: 1rem

.reviewBlock
    flex: 0 1 60%
    width: 350px
    height: 160px
    background: #ffffff00
    padding: .5rem 
    
    display: flex
    align-items: center
    opacity: 1
    transform: translateX(0)
    transition: all 0.5s ease-in-out

    &:not(.animate)
        opacity: 0
        transform: translateX(-50px)

.reviewContent
    height: 100%
    text-align: left
    font-size: .875rem
    font-weight: 900
    line-height: 1.3
    color: #E60B80

.photoBlock
    flex: 0 0 150px
    width: 165px
    height: 250px
    border-radius: 8px
    overflow: hidden
    position: relative
    opacity: 1
    transform: translateX(0)
    transition: all 0.5s ease-in-out

    &:not(.animate)
        opacity: 0
        transform: translateX(50px)

.userPhoto
    width: 100%
    height: 100%
    object-fit: cover
    object-position: top 

.footer
    width: 100%
    margin-top: auto
    display: flex
    flex-direction: column
    align-items: center
    gap: 2rem
    color: #E60B80

.question
    font-weight: 900
    font-size: 1.6rem

.telephone
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: .4rem

.textEnd
    font-size: 1.2rem
    font-weight: 500

.number
    font-size: 1.3rem
    font-weight: 900
    color: #E60B80

.socialMedia
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding-top: 1rem

.messangers
    display: flex
    padding-top: .6rem
    gap: 1rem

.mapBlock
    display: flex
    flex-direction: column
    gap: .7rem
    padding-top: 1.5rem
    padding-bottom: 6rem

.map
    width: 17rem
    height: 14rem
    background-color: white
    border: 1px solid black
