.actionsContainer
    display: flex
    gap: .7rem
    justify-content: flex-end
    padding-top: 1.5rem

.primaryButton
    padding: .3rem .6rem
    background: #E60B80
    color: white
    border: none
    border-radius: 1rem
    cursor: pointer
    transition: background 0.2s
    font-size: 1.1rem
    font-family: inherit

    &:hover
        background: #0056b3

.secondaryButton
    padding: .3rem 1rem
    background: transparent
    color: #666
    border: 1px solid #ddd
    border-radius: 1rem
    cursor: pointer
    transition: all 0.2s
    font-size: 1.1rem
    font-family: inherit

    &:hover
        border-color: #007bff
        color: #007bff
